/*_responsive.scss*/
body{
	>header{
		> .content{
			> .logo-container{
				> .logo-container__logo{
					padding-left: 0;
					margin-left: 0%;
					margin-right: 600%;
					width: 40%;
				}
			}
		}
	}
}
